{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block styles %}
    <link type="text/css" 
    href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center fs-4 fst-italic">
                Student List Management
                <hr />
            </div>
            <div class="col-12 text-end mt-3">
                <a href="{{ url_for('export_data') }}" class="btn btn-primary">
                    Download CSV
                </a>
                <a href="{{ url_for('timetable_page') }}" class="btn btn-secondary">
                    Manage Timetable
                </a>
            </div>            
            <div class="col-9">
                {% if student_list %}
                {% for student in student_list %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src="https://via.placeholder.com/100" class="img-fluid rounded-start" alt="Profile">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="fw-bold fs-5">
                                    {{ student.name }}
                                </div>
                                <div class="fst-italic">
                                    {{student.regNo}} | {{student.class}}
                                </div>
                                <div>
                                    <i class="fa-solid fa-envelope"></i> {{student.email}}
                                </div>
                                <div>
                                    <i class="fa-solid fa-phone"></i> {{student.phone}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center gap-2">
                            <a href="/update-student/{{student._id}}/" class="btn btn-sm btn-primary">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="/delete-student/{{student._id}}/" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                        <div class="col-md-12 text-center mt-2">
                            <span>Attendance: {{ student.attendance_percentage }}%</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <!-- Right Panel: Add Student Form -->
            <div class="col-3">
                <form class="mt-4" method="POST" 
                    action="/{{ ('update-student/' ~ student._id) if student else 'add-student' }}/"
                >
                    <div class="mb-3">
                        <h5>Add New Student</h5>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <input type="text" name="name" id="name" class="form-control"
                        value="{{ student.name if student else '' }}" placeholder="Name" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="registerNumber" id="registerNumber" class="form-control"
                         value="{{ student.regNo if student else '' }}"   placeholder="Register Number" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="class" id="class" class="form-control" 
                        value="{{ student.class if student else '' }}" placeholder="Class" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="email" id="email" class="form-control"
                        value="{{ student.email if student else '' }}" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="phone" id="phone" class="form-control"
                        value="{{ student.phone if student else '' }}" placeholder="Phone" required>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="attendance" id="attendance" class="form-control"
                        value="{{ student.attendance_percentage if student else '' }}" placeholder="Attendance %" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            {{ 'Update' if student else 'Add' }} Student
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" 
    src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
